.musicIcons {
  width: 75px;
  height: 0;
  position: absolute;
  top: 95px;
  left: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rewind {
  width: 25px;
  height: 25px;
}

.play {
  width: 25px;
  height: 25px;
}

.fastForward {
  width: 25px;
  height: 25px;
}
