.musicIcons {
  width: 75px;
  height: 0;
  position: absolute;
  top: 73%;
  left: 44%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rewind {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}

.play {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  margin-top: 4px;
}

.pause {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}

.next {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}

.share {
  width: 24px;
  height: 24px;
  margin-right: 3px;
}

.loop {
  width: 24px;
  height: 24px;
  margin-right: 3px;
}
