.musicIcons {
  width: 75px;
  height: 0;
  position: absolute;
  top: 70%;
  left: 44%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rewind {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.play {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.pause {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.fastForward {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}
