body {
    margin: 0;
}

div.logo {
    color: red;
    font-family: 'Bauhaus 93', sans-serif;
    font-size: 100px;
    width: 300px;
    height: 100px;
    /*padding: 20px;*/

    position: absolute;
    top: 23%;
    left: 50%;

    margin: -70px 0 -13px -170px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

input[type=text]#myInp {
    width: 400px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    margin-left: -69px;
    margin-top: -13px;
}

div#search_result {
    width: 400px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    margin-left: -100px;
    font-size: 20px;
    line-height: 23px;
    font-family: 'Raleway', sans-serif;
}

.pre {
    color: #3f414a;
    font-size: 14px;
    font-family: sans-serif;
}

#canvas img {
    max-width:none!important;
    background:none!important
}

h1 {
    color: #555;
    font: bold 12px 'helvetica neue', helvetica, arial, sans-serif;
    left: 0;
    margin: 20px 0 0 0;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}

#bars {
    height: 30px;
    left: 46%;
    margin: -24px 0 0 -20px;
    position: absolute;
    top: 50%;
    width: 40px;
    display: none;
}

.bar {
    background: #ff6666;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .30;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 23px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 29px; animation-duration: 449ms; }
.bar:nth-child(10)  { left: 29px; animation-duration: 429ms; }
.bar:nth-child(11)  { left: 29px; animation-duration: 450ms; }
.bar:nth-child(12)  { left: 29px; animation-duration: 401ms; }
.bar:nth-child(13)  { left: 29px; animation-duration: 445ms; }